@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Spinnaker&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.parallax {
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.751), rgba(0, 0, 0, 0.719)),
    url("../src/Assests/lekkiAYD.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
}
